<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'partials/_footer.html.twig' %}
    </body>
</html>
